/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;
@import './main.css';

//@import url(./jquery.simplyscroll.css);
//@import url(./jquery.bxslider.css);
//@import url(./news.css);
//@import url(./news_special.css);
